<div data-role="view" id="profileView" data-title="MY PROFILE" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="cart"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <div class="profile_pic">
                <p>
                    <img src="style/images/390/photo_icon.png"/>
                </p>
            </div>
            <div class="addressDV">
                <p>
                    Robert Wade
                </p>
                <p>
                    <img src="style/images/390/phone_ico.png"/>
                    <span>(661) 393-9333</span>
                </p>
                <p>
                    <img src="style/images/390/location_pin.png"/>
                    <span>221 S Montclair st, Bakersfield,</span>
                </p>
                <p>
                    CA 93309, USA
                </p>
            </div>
            <div class="edtscn">
                <p>
                   <a data-role="button" class="editBtn">Edit Account</a> 
                </p>
                <p>
                    <a data-role="button" class="changePwdBtn">Change Passowrd</a> 
                </p>
            </div>
        </div>
    </div>
</div>