<div data-role="view" id="shopView" data-title="PRODUCTS" data-model="app.shopService.viewModel" data-show="app.shopService.viewModel.show" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
           <div class="main">
                <div class="prodSrchDv">
                    <p class="productCategoryP">
                        <select class="dropDwn" id="productCategory">
                            <option>Product Categories</option>
                        </select>
                    </p>
                </div>
                <div class="listContentDV">
                    <!--<ul id="shopListData" data-role="listview" data-template="shopListView" data-bind="source:shopListSource"></ul>-->
                    <ul id="shopListData" data-role="listview"></ul>
                </div>
           </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="shopListView">
    <div class="dynDv">
        <div class="prodCls" data-bind="click:moveToMain" data-id="#:data['id']#">
            <p style="text-align:center">
                <img src="#:data['prodImg']#" style="width:50%"/>
            </p>
        </div>
        <div class="prodTitle">
            <p>#:data['title']#</p>
        </div>
        <div class="bindCls">
            <div class="priCls">
                <p>
                    #:data['price']#
                </p>
            </div>
            <div class="cartCls">
                <p>
                   <!-- <img src="#:data['cart']#"/>-->
                    <a data-role="button" class="cartImage" data-price="#:data['price']#" data-id="#:data['id']#" data-bind="click:addToCart"></a>
                </p>
            </div>
        </div>
    </div>
</script>