<div data-role="view" id="terms_cond" data-title="TERMS AND CONDITION" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-badge="10" class="cart" data-click="app.shopService.viewModel.moveToCart"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <div class="mainbind">
                <div class="checkGreenDv">
                    <p>
                        <img src="style/images/390/phead.png"/>
                    </p>
                </div>
                <div class="contentDv">
                    <h3>Lorem Ipsum is simply dummy</h3>
                    <p>
                        We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization. 
                    </p>
                    <p>
                        We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization. 
                    </p>
                    <p class="termsTit">
                        Terms & Conditions
                        <ul id="termsList">
                            <li>Lorem Ipsum is simply dummy text of the printing.</li>
                            <li>combine industry expertise with innovative technology to deliver critical information.</li>
                            <li>leading decision makers in the financial and risk, legal, tax and accounting</li>
                            <li>Lorem Ipsum is simply dummy text of the printing.</li>
                            <li>combine industry expertise with innovative technology to deliver critical information.</li>
                            <li>leading decision makers in the financial and risk, legal, tax and accounting</li>
                            <li>Lorem Ipsum is simply dummy text of the printing.</li>
                            <li>combine industry expertise with innovative technology to deliver critical information.</li>
                            <li>leading decision makers in the financial and risk, legal, tax and accounting</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>