
#aboutusView .km-content {background-color:#fff !important}
#check {display:none}
#drawerList .km-content {background:url('./images/sidebar_bg.png') no-repeat!important}
#drawerList ul li {width:100%;width: 100%;padding: 5px 0 0px 0;border: 1px solid #2F3617;border-top:0px;border-left:0px;border-right:0px}
