@media (min-width:0px) and (max-width:640px) {

    /*****************************************************Login View********************************************************/
    #loginView .km-content,#signupView .km-content,#signupView2 .km-content,#billingView .km-content,#contactView .km-content,#forgotpasswordView .km-content{background: url('./newImage/login_bg.png') !important;}
    #loginView .wrapper {width:100%;height:auto}
    #loginView .wrapper .logoPrt {width:50%;margin:0px auto;height: auto;margin-top: 25%;}
    #loginView .wrapper .logoPrt p {text-align:center}
    #loginView .wrapper .logoPrt p img {width:220px}
    #loginView .wrapper .contFldPrt {width:80%;height:auto;margin:0px auto;margin-top:10%}
    #loginView .wrapper .contFldPrt .logmail {width:100%;display: inline-block;}
    #loginView .wrapper .contFldPrt .logmail .txticon {width:12%;float:left;}
    #loginView .wrapper .contFldPrt .logmail .txticon img{width:33px;}
    #loginView .wrapper .contFldPrt .logmail .txtfldDv {width:88%;float:left;padding-bottom:7px;border:1px solid #D5F5A9;border-top:none;border-left:none;border-right:none;}
    #loginView .wrapper .contFldPrt .logmail .txtfldDv p {margin:-5px 0 0 0}
    #loginView .wrapper .contFldPrt .logmail .txtfldDv .txtFld{width: 100%;height: 40px;padding-top: 5px;padding-left: 0px;border: none;background: none;color: #fff;font-size: 20px;font-family: 'Helvetica', 'Arial', sans-serif;}
    #loginView .wrapper .contFldPrt .logpwd {width:100%;display: inline-block;  margin-top: 25px;}
    #loginView .wrapper .contFldPrt .logpwd .txticon {width:12%;float:left;}
    #loginView .wrapper .contFldPrt .logpwd .txticon img{width:33px}
    #loginView .wrapper .contFldPrt .logpwd .txtfldDv {width: 88%;float: left;padding-bottom: 15px;border: 1px solid #D5F5A9;border-top: none;border-left: none;border-right: none;}
    #loginView .wrapper .contFldPrt .logpwd .txtfldDv p {margin:-5px 0 0 0}
    #loginView .wrapper .contFldPrt .logpwd .txtfldDv .txtFld{width: 100%;height: 40px;padding-top: 10px;padding-left: 0px;border: none;background: none;color: #fff;font-size: 20px;font-family: 'Helvetica', 'Arial', sans-serif;}
    #loginView .wrapper .contFldPrt .logSub {width:100%;margin-top:50px}
    #loginView .wrapper .contFldPrt .logSub p {margin: 0 0 0 0;}
    #loginView .wrapper .contFldPrt .logSub a {width:100%;height:58px;background-color:#fff !important; background-image:url(./images/390/btn_arrow.png) !important;background-repeat:no-repeat;background-position: 85% 18px;background-size: 35px 19px;}
    #loginView .wrapper .contFldPrt .logSub a span {font-size:22px;line-height:40px;color:#23A503 !important;font-weight: 100;}
    #loginView .footer {width:100%;display:inline-block}
    #loginView .footer .footerLeft {width:50%;height:60px;background-color:#1E9101;float:left;border-right: 1px solid #1E9E01;}
    #loginView .footer .footerRight {width:50%;height:60px;background-color:#1E9101;float:left}
    #loginView .footer .footerLeft,#loginView .footer .footerRight {text-align: center;line-height: 35px;font-size: 16px;color: #F1F1F1;}
    #loginView .footer .footerLeft p {margin:0 0 0 0}
    #loginView .footer .footerRight p {margin:0 0 0 0}
    #loginView .footer .footerLeft p a {border: none;background: none;}
    #loginView .footer .footerLeft p a span {font-size:20px;font-family:'Helvetica','Arial',sans-serif;font-style: normal;color: #fff;}
    #loginView .footer .footerLeft p a:active {border: none;background: none;}
    #loginView .footer .footerRight p a {border: none;background: none;}
    #loginView .footer .footerRight p a span {font-size:20px;font-family:'Helvetica','Arial',sans-serif;font-style: normal;color: #fff;}
    #loginView .footer .footerRight p a:active {border: none;background: none;}
    ::-webkit-input-placeholder { color:#D4EDCF;font-size:18px;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: 500;}
    
    /*****************************************************Forgot ModalView********************************************************/
    #forgotPassword .navbar { background-color:#23A505;border-bottom:none}
    #forgotPassword .navbar span {font-size:20px;color:#fff;margin-left: 15px;}
    #verificationcode::-webkit-input-placeholder{color:#999;}
    #forgotPassword #maincontent {width:100%;height:auto;margin:0px auto;}
    #forgotPassword #maincontent .forgotfTxtfld{width: 100%;height: 45px;padding-left: 7px;border: 1px solid #ccc;font-size: 20px;}
    #forgotPassword #maincontent .btnpar {text-align: center;}
    #forgotPassword #maincontent .btnpar a:nth-child(1) {width:48.8%;height:45px;background:#1A530C !important;color:#fff}
    #forgotPassword #maincontent .btnpar a:nth-child(1) span {font-size: 18px;line-height: 26px;}
    #forgotPassword #maincontent .btnpar a:nth-child(2) {width:48.8%;height:45px;background:#1E9E01 !important;color:#fff}
    #forgotPassword #maincontent .btnpar a:nth-child(2) span {font-size: 18px;line-height: 26px;}
    
    /***************************************************** Signup View1 ********************************************************/
    #signupView .backArrow {width:25px;height:30px;border:none;background:url('./slideImage/back_icon.png') no-repeat;background-size:100% 100%;}
    #signupView .wrapper {width:100%;height:auto}
    #signupView .wrapper .header {width:100%;margin-top: 7%;}
    #signupView .wrapper .header p {text-align:center;color:#fff;font-family:sans-serif;font-size:40px}
    #signupView .wrapper .conFldDv {width:88%;height:auto;margin:0px auto;margin-top:13%}
    #signupView .wrapper .conFldDv .fldDv {width:100%;margin-top: 32px;}
    #signupView .wrapper .conFldDv .fldDv p {border:1px solid #D5F5A9;border-top: none;border-right: none;border-left: none;padding-bottom: 18px;}
    #signupView .wrapper .conFldDv .fldDv .txtFld {width:100%;height:35px;padding-left:0px;border:none;background: none;color:#fff;font-size:20px}
    #signupView .wrapper .conFldDv .fldDv .attch {background:url('./images/390/attached_ico.png') no-repeat !important;background-position: 96% 4px !important;background-size: 20px 20px !important;}
    #signupView .wrapper .subDv {width:90%;margin: 0px auto;margin-top: 12%;}
    #signupView .wrapper .subDv a {width:100%;height:58px;background-color:#fff !important; background-image:url(./images/390/btn_arrow.png) !important;background-repeat:no-repeat;background-position: 85% 18px;background-size: 35px 19px;}
    #signupView .wrapper .subDv a span{font-size:22px;line-height:40px;color:#23A503 !important;font-weight: 100;}
    
    /***************************************************** Signup View2 ********************************************************/
    #signupView2 .backArrow {width:25px;height:30px;border:none;background:url('./slideImage/back_icon.png') no-repeat;background-size:100% 100%;}
    #signupView2 .wrapper {width:100%;height:auto}
    #signupView2 .wrapper .header {width:100%;margin-top: 7%;}
    #signupView2 .wrapper .header p {text-align:center;color:#fff;font-family:sans-serif;font-size:40px}
    #signupView2 .wrapper .conFldDv {width:88%;height:auto;margin:0px auto;margin-top:10%}
    #signupView2 .wrapper .conFldDv .fldDv {width:100%;margin-top: 32px;}
    #signupView2 .wrapper .conFldDv .fldDv p {border:1px solid #D5F5A9;border-top: none;border-right: none;border-left: none;padding-bottom: 18px;}
    #signupView2 .wrapper .conFldDv .fldDv .txtFld {width:100%;height:35px;padding-left:0px;border:none;background: none;color:#fff;font-size:20px}
    #signupView2 .wrapper .subDv {width:90%;margin: 0px auto;margin-top: 20%;}
    #signupView2 .wrapper .subDv a {width:100%;height:58px;background-color:#fff !important; background-image:url(./images/390/btn_arrow.png) !important;background-repeat:no-repeat;background-position: 85% 18px;background-size: 35px 19px;}
    #signupView2 .wrapper .subDv a span{font-size:22px;line-height:40px;color:#23A503 !important;font-weight: 100;}
    #signupView2 .wrapper .conFldDv .fldDv .checkDv {width:7%;float:left;margin-left: 5px;}
    #signupView2 .wrapper .conFldDv .fldDv .checkDv img {width:18px}
    #signupView2 .wrapper .conFldDv .fldDv .txtTitDv {width:80%;float:left}
    #signupView2 .wrapper .conFldDv .fldDv .txtTitDv .terms {color: #FFF;font-size: 18px;margin-top: 16px;}
    .checkDv p,.txtTitDv P {border-bottom:none !importaNT;padding-bottom:0px}
    
    /*****************************************************Slider View********************************************************/
    #drawerList .listparent {list-style-type: none;margin: 0 0 0 -40px;}
    #drawerList .listparent li:first-child {background-color:#243117;padding: 60px 0 10px 0;border-bottom:1px solid #1F670E;}
    #drawerList .listparent li:first-child .header {width:100%}
    #drawerList .listparent li:first-child .header .headerinner1 {width:20%;float:left;margin: -45px 0 0px 0px;padding: 0 0 0px 10px;}
    #drawerList .listparent li:first-child .header .headerinner2 {width:80%;float:left;margin: -52px 0 0 50px;}
    #drawerList .listparent li:first-child .header .headerinner2 p {font-size: 18px;color: #fff;}
    #drawerList .listparent .drawerDv {width:100%;display:inline-block}
    #drawerList .listparent .drawerDv .drawerinnerDv1 {width:13%;float:left}
    #drawerList .listparent .drawerDv .drawerinnerDv1 img {width:32px}
    #drawerList .listparent .drawerDv .drawerinnerDv2 {width:80%;float:left}
    #drawerList .listparent .drawerDv .drawerinnerDv2 p {font-size: 16px;color: #fff;margin-top: 24px;margin-top:34px}
    
    /*****************************************************Products View********************************************************/
    #shopView .nvbar {background-color:#23A505 !important;height: 55px;}
    #shopView .nvbar .menu {background: url('./newImage/menu.png') no-repeat !important;width: 28px;height: 25px;border: none !important;margin-top: 5px;padding-left: 38px;padding-top: 10px;padding-bottom: 10px;}
    #shopView .nvbar span {color:#fff;  font-size: 22px;}
    
    #shopView .wrapper {width:100%;}
    #shopView .wrapper .main {width:100%;margin:0px auto}
    #shopView .wrapper .prodSrchDv {width:100%;padding: 1px 0 1px 0;background-color: #ffffff;}
    #shopView .wrapper .prodSrchDv p {margin:15px 9px 15px 9px;}
    #shopView .wrapper .prodSrchDv .dropDwn{width: 100%;height: 45px;border: 1px solid #ccc;color:#7E7C7C;}
    #shopView .wrapper .listContentDV{width:100%}
    
    #shopListData li {background:#F3F3F1 !important;border-style:none !important}
    #shopListData .dynDv {width: 100%;height: auto;margin: 0px auto;border: 1px solid #ccc;box-shadow: 0px 0px 10px 0px #DDDCDC;}
    #shopListData .dynDv .prodCls {  width: 100%;height: auto;border-bottom:1px solid #E5E5E5;background-color: #fff}
    #shopListData .dynDv .prodCls img {width:100%;}
    #shopListData .dynDv .prodTitle {width: 100%;background-color: #fff;border-bottom: 1px solid #E5E5E5;padding: 1px 0 1px 0;}
    #shopListData .dynDv .prodTitle p {font-size: 16px;color: #000;font-weight: 500;margin-left: 10px;}
    #shopListData .dynDv .bindCls {width: 100%;display: inline-block;background-color: #f8f8f8;}
    #shopListData .dynDv .bindCls .priCls {width: 50%;float: left;}
    #shopListData .dynDv .bindCls .priCls p{font-size: 17px;color:#23A505;margin-left: 10px;}
    #shopListData .dynDv .bindCls .cartCls {width: 50%;float: left;}
    #shopListData .dynDv .bindCls .cartCls p {text-align: right;margin: 13px 5px 0 0px;}
    #shopListData .dynDv .bindCls .cartCls p .cartImage{background:url(./images/390/cart.png) no-repeat;width: 30px;height: 30px;border:none;background-size: 80% 80%;}
    #shopListData li {width:50%;float:left;padding-top: 25px;}
    
    /*****************************************************Products Details********************************************************/
}